<!doctype html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/assets/css/bootstrap.css">

    <link rel="stylesheet" href="~/assets/css/loginstyle.css">
    <link rel="stylesheet" href="~/assets/css/signupstyle.css">

</head>
<body>
<header>
    <!-- Header Start -->
    <div class="header-area">
        <!-- Logo -->
        <div class="logo">
            <a href=""><img class="logo-img" src="~/assets/img/logo.png" alt=""></a>
        </div> 		
    </div>
</header>
@RenderBody()
<footer>
    <a class="footer-link" href="">Chăm sóc khách hàng</a>
    <a class="footer-link" href="">Về CAREERHUNT</a>
    <a class="footer-link" href="">Theo dõi chúng tôi</a>
    <a class="footer-link" href="">Bạn cần giúp đỡ</a>
</footer>

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>
